//- https://projectsoft-studionions.github.io/radioApp-lite/
article.news-container-item
	h4.title
		a(href=item.link ? item.link : "https://" + repo + "/" + item.repo + "/" target=item.link ? "_blank" : "_self")= item.title
	p.date
		a(href="https://github.com/" + userName + "/" + item.repo + "/releases/latest" target=item.link ? "_blank" : "_self")
			img(src="https://img.shields.io/github/v/release/" + userName + "/" + item.repo + "?style=for-the-badge&color=%23007ec6&" alt="Github Latest " + item.repo + "")
		a(href="https://github.com/" + userName + "/" + item.repo + "/" target=item.link ? "_blank" : "_self")
			img(src="https://img.shields.io/github/repo-size/" + userName + "/" + item.repo + ".svg?style=for-the-badge&color=%23007ec6" alt="Github Repo " + item.repo + "")
	.news-container-item-description
		p.photo
			a(href=item.link ? item.link : "https://projectsoft-studionions.github.io/" + item.repo + "/" target=item.link ? "_blank" : "_self")
				img(src="https://" + repo + "/images/" + item.image + "" alt=item.title)
		p.text
			span.text-wrapper= item.description
			a.btn.more(href=item.link ? item.link : "https://projectsoft-studionions.github.io/" + item.repo + "/" target=item.link ? "_blank" : "_self") Подробнее